version: "2"

services:
  nginx:
    build: ./nginx
    image: evgeniy-khyst/nginx
    volumes:
      - nginx_conf:/etc/nginx/sites
      - letsencrypt_certs:/etc/letsencrypt
      - certbot_acme_challenge:/var/www/certbot
      - ./config.json:/etc/letsencrypt-docker-compose/config.json:ro
      - ./vhosts:/etc/nginx/vhosts:ro
      - ./html:/var/www/html:ro
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped

  certbot:
    build: ./certbot
    image: evgeniy-khyst/certbot
    volumes:
      - letsencrypt_certs:/etc/letsencrypt
      - certbot_acme_challenge:/var/www/certbot
      - ./config.json:/etc/letsencrypt-docker-compose/config.json:ro

  cron:
    build: ./cron
    image: evgeniy-khyst/cron
    environment:
      COMPOSE_PROJECT_NAME: "${COMPOSE_PROJECT_NAME}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/workdir:ro
    restart: unless-stopped

  # Replace with your backend image or remove
  example-backend:
    build: ./examples/nodejs-backend
    image: evgeniy-khyst/expressjs-helloworld
    restart: unless-stopped

volumes:
  nginx_conf:
  letsencrypt_certs:
  certbot_acme_challenge:
